/* ユーザアカウントページ */
.user-ind {
    position: relative;
}
.user-ind a {
    position: absolute;
    top: 70px;
    right: 0;
}
.user-index {
    width: 90%;
    border-top: solid 1px #EEEEEE;
    margin: 0 auto;
    display: flex;
    color: #4b4b4b;
    padding-top: 50px;
}
.user-index .info {
    width: 30%;
}
.user-index .info .name {
    font-size: 18px;
}
.user-index .info .email {
    font-size: 15px;
    margin: 15px 0;
}
.user-index .info a {
    text-decoration: none;
    color: #34558b;
    font-size: 13px;
}
.user-index .order {
    width: 68%;
    margin-left: 2%;
}
.user-index .order .title {
    font-size: 24px;
    border-bottom: solid 1px #EEEEEE;
}
.user-index .order .body {
    margin-top: 30px;
    text-align: center;
}
.user-index .order .body p {
    
}