* {
    margin: 0;
    font-family: Madera,sans-serif;
}

.admin-header  {
    display: table;
    width: 100%;
    height: 70px;
    padding: 0 15px;
    display: flex;
    background-color:  #34558b;
    position: fixed;
    top: 0;
    left: 0;
}
.admin-header .admin-logo {
    width: 50px;
    height: 50px;
    /* margin: 20px 20px 20px 10px; */
    color: #FFF;
    font-size: 40px;
    text-align: center;
}
.admin-header .admin-logo p {
    padding-top: 10px;
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.admin-header .admin-nav {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 90%;
    padding-left: 100px;
}
.admin-header .logout-nav {
    display: flex;
    align-items: center;
    width: 10%;
}
.admin-header .logout-nav a {
    color: #FFF;
    text-decoration: none;
    font-size: 13px;
}
.admin-header .logout-nav a span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 13px;
    padding-left: 5px;
}
.admin-header .admin-nav a {
    margin-right: 40px;
    font-size: 13px;
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: 1px;
}

main {
    width: 100%;
    margin-top: 50px;
    display: flex;
}

/* サイドバー  */
main .sidebar {
    width: 15%;
    height: 100vh;
    background-color: #D9E5FF;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 10;
}
.sidebar-nav {
    width: 100%;
    
    
}
.sidebar-nav .nav-content {
    width: 80%;
    padding: 15px 10%;
    display: flex;
    z-index: 100;
    border-bottom: 1px solid silver ;
}
.sidebar-nav .nav-content i {
    width: 20%;
    padding-top: 4px;
}
.sidebar-nav .nav-content a {
    z-index: 100;
    font-size: 16px;
    width: 60%;
    text-decoration: none;
    color: #34558b;
    font-weight: 600;
}
.sidebar-nav .nav-content span {
    width: 15%;
    margin-left: 5%;
}


main .content {
    width: 100%;
    padding-left: 15%;
    height: 100%;
    min-height: 100vh;
    background-color: #EEEEEE;
    border-left:1px solid #111;
}

.login-form {
    height: 100%;
    width: 30%;
    margin: 50px auto;
    color: #4B4B4B;
    font-size: 14px;
}
.login-form .title {
    width: 100%;
    border-bottom: solid 1px silver;
    font-weight: 100;
    margin-bottom: 50px;
}
.login-form form {
    padding-bottom: 50px;
    width: 100%;
}
.login-form .form-control {
    width: 93%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 14px;
    border-radius: 0;
    border: solid 1px #EEEEEE;
    background-color: #E8F0FE;
}
.login-form .form-btn {
    margin-top: 30px;
}
.login-form .form-btn button {
    padding: 14px 24px;
    background-color: #34558b;
    color: #FFF;
    border-radius: 0;
    border: 0;
}
.login-form .form-btn input {
    border-radius: 0;
    margin-left: 50px;
}
.login-form-up {
    padding-top: 50px;
    font-size: 14px;
    color: #4B4B4B;
    border-top: solid 1px #EEEEEE;
}
.login-form-up a {
    color: #34558b;
    text-decoration: none;
}



