.contact-header {
    margin-top: 20px;
    background-color: #FFF;
    width: 100%;
    height: 30px;
    padding: 10px 0;
    padding-left: 25px;
    font-size: 20px;
    color: #34558b;
    border-bottom: solid 1px silver;
    color: #4b4b4b;
}
.contact-main {
    max-width: 96%;
    margin: 20px auto; 
    background-color: #FFF;
    border: solid 1px silver;
}
.contact-main span {
    background-color: tomato;
    padding: 7px 10px;
    border-radius: 30px;
}
.contact-content p {
    padding: 10px;
    font-size: 15px;
    border-bottom: solid 1px silver;
    margin-bottom: 15px;
    background-color: #34558b;
    color: #FFF;
}
.contact-content table {
    width: 100%;
}
.contact-content th {
    padding: 10px;
    text-align: left;
    border-bottom: solid 1px #EEEEEE;
}
.contact-content td {
    padding: 10px;
    font-size: 14px;
}
.contact-content td a {
    color: #34558b;
    text-decoration: none;
}
.contact-content tr {
    border-top: solid 1px #EEEEEE;
    width: 100%;
}

.contact-content2 {
    margin-top: 50px;
    border-top: solid 1px silver;
}

.contact-show {
    width: 96%;
    max-width: 96%;
    margin: 20px auto; 
    background-color: #FFF;
    color: #4b4b4b;
    border: solid 1px silver;
}
.contact-show .inner {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    font-size: 14px;
    
}
.contact-show .inner .inner-content {
    width: 50%;
}
.contact-show .inner p {
    margin-bottom: 20px;
}
.contact-show .inner-btn {
    padding-bottom: 100px;
    background-color: #FFF;
    text-align: center;
}
.contact-show .inner-btn input {
    padding: 15px 30px;
    color: #FFF;
    background-color: #34558b;
    text-decoration: none;
    font-size: 14px;
    border-radius: 0;
    border: 0;
    cursor: pointer;
}