* {
    margin: 0;
}

.header-logo {
    height: 120px;
    width: 120px;
    background-color: #34558b;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 999;
    color: #FFF;
    font-size: 60px;
    text-align: center;
}
.header-logo p {
    height: 80px;
    margin-top: 20px;
    font-weight: 100;
}

