* {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.top {
    background-image:url("../../images/top.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.top-content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFF;
}

.top-content .title {
    font-size: 38px;
    font-weight: bold;
}
.top-content .body {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
    margin-top: 30px;
}
.top-content .text {
    font-size: 10px;
    line-height: 2;
    letter-spacing: 2px;
}

.menber {
    background-color: #34558b;
    height: 100vh;
    width: 100%;
    position: relative;
}
.menber .menber-content {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFF;
}
.menber .menber-content .title {
    font-size: 28px;
    margin-bottom: 32px;
    font-weight: bold;
}
.menber .menber-content .body {
    font-size: 16px;
    margin-bottom: 80px;
    line-height: 2;
}
.menber .menber-content .profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menber .menber-content .profile .profile-image {
    width: 80px;
    height: 80px;
    background-image: url("../../images/menber.jpg");
    background-size: cover;
    border-radius: 100px;
    border: 4px solid #FFFFFF;
}
.menber .menber-content .profile .profile-text {
    font-size: 16px;
    margin-left: 20px;
}

.menu {
    background-image:url("../../images/menu.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.menu-content {
    position: absolute;
    top: 55%;
    left: 5%;
    z-index: 10;
    color: #FFF;
}
.menu-content .title {
    font-size: 30px;
    margin-bottom: 32px;
    font-weight: bold;
}
.menu-content .body {
    margin-bottom: 24px;
}
.menu-content .body .body-box {
    display: inline-block;
}
.menu-content .body .body-box .body-box-text {
    margin-bottom: 16px;
    font-size: 16px;
    display: flex;

}
.menu-content .body .body-box .body-box-text .box-menu {
    flex-grow: 1;
}
.menu-content .body .body-box .body-box-text .box-space {
    margin: 0 16px;
    flex-grow: 0;
}
.menu-content .body .body-box .body-box-text .box-prace {
    flex-grow: 0;
    width: 60px;
}

.menu-content .text {
    font-size: 12px;
}

.store {
    background-image:url("../../images/store.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}
.store .store-content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFF;
    
}
.store .store-content .title {
    font-size: 30px;
    margin-bottom: 32px;
    font-weight: bold;
}
.store .store-content .body {
    font-size: 16px;
    margin-bottom: 40px;
}
.store .store-content .store-btn {
    display: inline-block;
    width: 280px;
    padding: 18px 10px;
    background-color: #141A2B;
    border: 2px solid transparent;
    color: #fff;
    text-decoration: none;
    border-radius: 100px;
    position: relative;
    margin-bottom: 56px;
}
.store .store-content .store-btn::after {
    content: '→';
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    font-weight: 900;
    font-size: 20px;
}
.store .store-content .info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.store .store-content .info .line {
    background-color: #00B900;
    padding: 6px 10px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 14px;
}
.store .store-content .info .info-text {
    font-size: 14px;
}

.shop {
    background-image:url("../../images/shop.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}
.shop .shop-content {
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: 10;
    color: #FFF;
}
.shop .shop-content .title {
    font-size: 30px;
    margin-bottom: 35px;
    font-weight: bold;
}
.shop .shop-content .body {
    margin-bottom: 24px;
}
.shop .shop-content .body .body-content {
    display: flex;
    margin-bottom: 8px;
    font-size: 16px;
}
.shop .shop-content .body .body-content .body-content-title {
    width: 60px;
    margin-bottom: 10px;
}
.shop .shop-content .body .body-content .body-content-text {
    margin-left: 16px;
}
.shop .shop-content .text {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 16px;
}
.shop .shop-content .mini-text {
    font-size: 12px;
    margin-bottom: 35px;
}
.shop .shop-content .shop-btn {
    display: inline-block;
    width: 280px;
    padding: 18px 10px;
    background-color: #141A2B;
    border: 2px solid transparent;
    color: #fff;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 100px;
    position: relative;
    margin-bottom: 56px;
    text-align: center;
}
.shop .shop-content .shop-btn::after {
    content: '→';
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    font-weight: 900;
    font-size: 20px;
}



.background {
    margin: 0;
    background-color: #34558b;
    opacity: 0.4;
    height: 100vh;
    width: 100%;
}



